/* work sens google  */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap");
/* shared styles */
* {
  font-family: "Work Sans", sans-serif;
  /* margin: 0;
  padding: 0; */
}
.btn-primary {
  border-radius: 8px;
  background: #ff900e;
  padding: 20px 25px;
  color: #fff;
  border: none;
  cursor: pointer;
  /* margin-bottom: 55px; */
}
/* header related styles */
header {
  background: rgba(255, 144, 14, 0.1);
  padding: 50px 240px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .nav-title {
  color: #131313;
  font-size: 3rem;
  font-weight: 700;
}
nav > ul {
  display: flex;
}
nav li {
  list-style: none;
  margin-right: 30px;
  font-weight: 500px;
  font-size: 1em;
}
nav ul li a {
  text-decoration: none;
  color: #424242;
}
/* banner related styles */
.banner-container {
  max-width: 800px;
  text-align: center;
  align-items: center;
  margin: 0 auto;
}
.banner-title {
  color: #131313;
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 20px;
}
.banner-description {
  color: #727272;
  margin-bottom: 30px;
}
.banner img {
  width: 100%;
  margin-top: 10px;
}

/* main related styles here */
main {
  max-width: 1440px;
  margin: 70px auto;
}
/* feature-section */
.feature-section {
  display: flex;
  align-items: center;
}
.img-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-radius: 5px;
  gap: 1.5rem;
}
.feature-text {
  padding-left: 70px;
  padding-right: 70px;
}
.feature-title {
  font-size: 2.8rem;
  margin-bottom: 24px;
}
.feature-description {
  color: #727272;
  font-weight: 400;
}
.feature-title .list {
  color: #727272;
  font-weight: 500;
}
.feature-title .our {
  color: #131313;
  font-weight: 700;
}
.feature-title .feature {
  color: #ff900e;
  font-weight: 700;
}
/* facts related styles */
.facts-title {
  color: #131313;
  font-size: 2.8rem;
  font-weight: 700;
}
.facts-description {
  color: #727272;
  font-weight: 400;
}
.facts-card-container {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}
.facts-card-container .card {
  border-radius: 8px;
  border: 1px solid #ff900e;
  text-align: center;
  padding: 30px;
  width: 240px;
}
.card-title {
  color: #424242;
  font-size: 2.8rem;
  font-weight: 600;
  margin-top: 10px;
  margin: 10px 0px;
}
.card-description {
  color: #727272;
  font-size: 1.25rem;
  font-weight: 600;
  margin: 5px 0;
}
/* sponsers related sytle */
.sponser {
  text-align: center;
}
.sponser-title {
  color: #131313;
  font-size: 2.8rem;
  font-weight: 700;
}
.sponser-description {
  color: #727272;
  font-weight: 400;
}
.img-sponser{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}

.img-sponser img{
  width: 165px;
}


/* small device responsive */
@media screen and (max-width: 576px) {
  nav {
    flex-direction: column;
    gap: 20px;
  }
  header {
    padding: 10px;
  }
  .feature-section {
    flex-direction: column;
  }
  .img-box {
    grid-template-columns: 1fr;
  }
  .feature-text {
    padding-left: 20px;
    padding-right: 20px;
  }
  .facts-card-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .img-sponser{
    flex-direction: column;
    
  }
}

/* tablet or medium device responsive */
@media screen and (min-width: 577px) and (max-width: 992px) {
  nav {
    flex-direction: column;
    gap: 20px;
  }
  header {
    padding: 50px;
  }
  .feature-section {
    flex-direction: column;
  }
}
