/* work sens google  */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap");
/* shared styles */
* {
  font-family: "Work Sans", sans-serif;
  /* margin: 0;
  padding: 0; */
}
.btn-primary {
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    color: #FFF;
    border: none;
    cursor: pointer;
    /* margin-bottom: 55px; */
}
/* header related styles */
header {
  background: rgba(255, 144, 14, 0.1);
  padding: 50px 240px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .nav-title {
  color: #131313;
  font-size: 3rem;
  font-weight: 700;
}
nav > ul {
  display: flex;
}
nav li {
  list-style: none;
  margin-right: 30px;
  font-weight: 500px;
  font-size: 1em;
}
nav ul li a {
  text-decoration: none;
  color: #424242;
}
/* banner related styles */
.banner-container {
  max-width: 800px;
  text-align: center;
  align-items: center;
  margin: 0 auto;
}
.banner-title {
  color: #131313;
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 20px;
}
.banner-description {
  color: #727272;
  margin-bottom: 30px;
}
.banner img{
    width: 100%;
    margin-top: 10px;
}

/* main related styles here */
main{
    max-width: 1440px;
    margin: 70px auto;
}
/* feature-section */
.feature-section{
    display: flex;
    align-items: center;
}
.img-box{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 5px;
    gap: 1.5rem;
}
.feature-text{
   padding-left: 70px;
   padding-right: 70px;
}
.feature-title{
    font-size: 2.8rem;
    margin-bottom: 24px;
}
.feature-description{
    color: #727272;
    font-weight: 400;
}
.feature-title .list{
    color: #727272;
    font-weight: 500;
}
.feature-title .our{
    color:#131313;
    font-weight: 700;
}
.feature-title .feature{
    color: #FF900E;
    font-weight: 700;
}






























/* small device responsive */
@media screen and (max-width: 576px) {
    nav{
        flex-direction: column;
        gap: 20px;
    }
    header{
        padding: 10px;
    }
    .feature-section{
        flex-direction: column;
    }
    .img-box{
        grid-template-columns: 1fr;
    }
    .feature-text{
        padding-left: 20px;
        padding-right: 20px;
    }
}
/* tablet or medium device responsive */
@media screen and (min-width: 577px) and (max-width: 992px) {
    nav{
        flex-direction: column;
        gap: 20px;
    }
    header{
        padding: 50px;
}
.feature-section{
    flex-direction: column;
}
}